.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px;
  background-color: #d65717;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.itemCountContainer {
  background-color: bisque;
  border: none;
  outline: none;
  padding: 7px;
  width: 60px;
  border-radius: 20px;
}

.itemInput {
  background-color: bisque;
  border: none;
  outline: none;
  padding: 7px 10px;
  width: 80px;
  border-radius: 20px;
}

.addButton {
  background-color: #59b893;
  border: none;
  padding: 7px;
  border-radius: 20px;
  width: 60px;
  font-weight: bold;
}
