:root {
  --input-backgroud-color: #fde39b;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px;
  background-color: #d65717;
}

.title {
  font-size: 14px;
  font-family: "Tahoma", sans-serif;
}

.itemCountContainer {
  padding: 4px 8px;
  border-radius: 20px;
  background-color: var(--input-backgroud-color);
}

.itemCountContainer select {
  border: none;
  outline: none;
  background-color: transparent;
}

.itemInput {
  background-color: var(--input-backgroud-color);
  border: none;
  outline: none;
  padding: 7px 10px;
  width: 120px;
  border-radius: 20px;
}

.addButton {
  background-color: #59b893;
  border: none;
  padding: 7px;
  border-radius: 20px;
  width: 60px;
  font-weight: 600;
  color: rgb(45, 42, 42);
  cursor: pointer;
}
