:root {
  --input-backgroud-color: #fde39b;
}

.container {
  background-color: #3b281c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px 100px 16px 100px;
}

.card {
  display: flex;
  gap: 50px;
}

.cardlabel {
  display: flex;
}

.cardcontent {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

h3 {
  font-size: 14px;
  color: bisque;
  font-weight: 500;
  font-family: "Tahoma", sans-serif;
}

h3 {
  color: bisque;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 10px;
}

.cross {
  background: none;
  font-size: 11px;
  border: none;
  cursor: pointer;
}

.filterContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.orderSelectDropdownContainer select {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.orderSelectDropdownContainer,
.clearButton {
  font-size: 10px;
  background-color: var(--input-backgroud-color);
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 8px 12px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.orderSelectDropdownContainer:hover,
.clearButton:hover {
  background-color: #ecd38f;
}

.orderSelectDropdownContainer:active,
.clearButton:active {
  background-color: #ead8a6;
}
